html {
  height: 100%;
}
body {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #212529;
  color: #FFFFFF;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.fs-50 {
  font-size: 50px;
}
.color-yellow {
  color: yellow;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100%;
}
.cursor-pointer {
  cursor: pointer;
}
.h-5 {
  height: 5%;
}
.h-10 {
  height: 10%;
}
.h-15 {
  height: 15%;
}

.h-20 {
  height: 20%;
}
.h-60 {
  height: 60%;
}
.h-70 {
  height: 70%;
}
.h-75 {
  height: 75%;
}
.h-80 {
  height: 80%;
}

.h-85 {
  height: 85%;
}

.h-90 {
  height: 90%;
}

.w-10 {
  width: 10%;
}

.w-15 {
  width: 15%;
}
.w-20 {
  width: 20%;
}

.w-40 {
  width: 40%;
}

.overflowY {
  overflow-y: auto
  ;
}

label {
  color: #FFFFFF;
}
input,
textarea,
select,
.card {
  background-color: #0b0c0b !important;
  color: #FFFFFF !important;
}

.form-select:disabled {
  background-color: #495057 !important;
}
.lightBulb {
  opacity: 0.5;
  animation: flicker 2s linear;
}
@keyframes flicker {
  from {opacity: 0.5;}
  25% {opacity: 1;}
  50% {opacity: 0.5;}
  75% {opacity: 1;}
  to {opacity: 0.5;}
}
.lightBulb:hover {
  opacity: 1;
}
